/* ---------------- CART PAGE ---------------- */
.cart-container {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.cart-container h1 {
  text-align: center;
  margin-bottom: 25px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  position:relative;
}

.cart-item img {
  width: 110px;
  height: 110px;
  object-fit: contain;
  flex-shrink: 0;
}

.cart-details {
  flex: 1;
}

.cart-details h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.cart-details p {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.remove {
  position:absolute;
  top:10px;
  right:10px;
  border: none;
  background: #f5f5f5;
  color: red;
  width:35px;
  height:35px;
  border-radius: 50%;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}

.remove:hover {
  background: #ffe5e5;
}

.cart-total {
  margin-top: 30px;
  text-align: right;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.cart-total h2 {
  margin-bottom: 15px;
}

.cart-total button {
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 8px;
  font-size: 15px;
}

.cart-total button:hover {
  background: #333;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.quantity button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.quantity span {
  font-size: 18px;
  font-weight: bold;
}


/* ---------------- TABLET ---------------- */
@media (max-width: 768px) {
  .cart-item {
    gap: 15px;
  }

  .cart-item img {
    width: 90px;
    height: 90px;
  }

  .cart-details h3 {
    font-size: 16px;
  }

  .cart-details p {
    font-size: 14px;
  }

  .cart-total h2 {
    font-size: 20px;
  }
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 480px) {
  .cart-container {
    width: 95%;
    padding: 10px;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: relative;
  }

  .cart-item img {
    width: 100%;
    max-width: 180px;
    height: auto;
    margin: 0 auto;
  }

  .cart-details {
    width: 100%;
  }

  .remove {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 10px;
  }

  .cart-total {
    text-align: center;
  }

  .cart-total button {
    width: 100%;
    max-width: 250px;
  }
}